@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,100&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Roboto:wght@400;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Kanit', sans-serif;
  font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
